<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
	<title>用户注册-码农博客-PHP技术交流博客</title>
	<link rel="stylesheet" href="public/styles/reset.css">
	<link rel="stylesheet" href="public/styles/fonts.css">
	<link rel="stylesheet" href="public/styles/coding.css">
	<link type="image/x-icon" href="public/images/global/favicon.ico" rel="icon">
</head>

<body>
	<!-- 头部区域开始 -->
	<div id="header">
		<div class="header-wrapper">
			<div class="header-logo">
				<a href="?a=index&c=index" title="码农博客">首页</a>
			</div>
			<ul class="header-tools">
				<li class="header-login"><a href="?a=login&c=user">登录</a></li>
				<li class="header-register">注册</li>
			</ul>
		</div>
	</div>
	<!-- 头部区域结束 -->
	<!-- 注册主要区域开始 -->
	<div id="register-main"
		style="background-image: url(public/images/background/a8f69aba-9700-4c81-88e2-6aee3d36f8f9.jpg);">
		<div id="register-main-inner">
			<form action="?a=store&c=user" method="post" id="register-form" onsubmit="return sub()">
				<div id="register-form-title">用户注册 <span id="s1" style="color: red;padding-left: 20px;font-size: 14px;"></span></div>
				<ul>
					<li class="input-field">
						<input type="text" name="username" id="username" class="tiny-input-text" placeholder="账号名">
					</li>
					<li class="input-field">
						<input type="text" name="nick_name" id="nick_name" class="tiny-input-text" placeholder="昵称">
					</li>
					<li class="input-field">
						<input type="password" name="password" id="password" class="tiny-input-text" placeholder="密码">
					</li>
					<li class="input-field">
						<input type="password" name="repassword" id="repassword" class="tiny-input-text"
							placeholder="确认密码">
					</li>
					<li class="input-field">
						<input type="text" name="verify" id="verify" class="tiny-input-text verify-input-text"
							placeholder="验证码">
						<!-- onclick 中 拼接一个随机数字到url结尾, 让url产生变化, 才会自动刷新图片 -->
						<img src="?a=captcha&c=user" onclick="this.src='?a=captcha&c=user&'+Math.random()" alt=""
							id="captcha-image">
					</li>
					<li class="input-field">
						<input type="submit" value="注册" id="btn-submit" style="height: 42px;text-align: center;">
					</li>
				</ul>
			</form>
		</div>
	</div>
	<!-- 注册主要区域结束 -->
	<!-- 页脚区域开始 -->
	<div id="footer">
		<div class="tidy-content">
			<p>隐私策略 |服务条款 | 安全策略</p>
			<p>&copy; 2020 森沐互娱 版权所有 | 赣ICP备1848339732号-123</p>
		</div>
	</div>
	<!-- 页脚区域结束 -->
	<script>
			var username=document.getElementById('username');
			var password=document.getElementById('password');
			var verify=document.getElementById('verify');
			var s1=document.getElementById('s1');
			function sub(){
				if (username.value=='') {
					s1.innerText='账号不能为空';
					return false;
				}
				if (username.value.length>12) {
					s1.innerText='字符长度不能大于12位';
					return false;
				}
				if (password.value.length<6 || password.value.length=='') {
					s1.innerText='密码不能为空且密码长度必须大于等于6位';
					return false;
				}
			}
		</script>

</body>

</html>