<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>码农博客管理员登录</title>
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/custom-login.css">
</head>

<body>
	<div id="login-wrapper">
		<div id="login-wrapper-inner">
			<div id="login-wrapper-image">
				<img src="images/failed.png" alt="">
			</div>
			<div id="login-wrapper-text">
				<h2 class="login-title">管理员登录失败，请重试...</h2>
				<ul class="login-list">
					<li>请检测网络连接是否正常或检查代理服务器设置；</li>
					<li>若您处于公司内部网络，请联系公司网络管理员；</li>
					<li>请检查您的用户名、密码是否输入正确；</li>
				</ul>
			</div>
		</div>
		<a href="?a=login" class="link-btn">重新登录</a>
	</div>
</body>

</html>