<div id="header">
    <div class="header-wrapper">
        <div class="header-logo">
            <a href="index.php" title="码农博客">首页</a>
        </div>
        <?php if($cates){ ?>
        <ul class="header-nav">
            <li class="<?php if($cid==0){?>active<?php }?>"><a href="?a=index&c=index">首页</a></li>
            <?php foreach($cates as $key=>$value){?> 
            <li class="<?php if($cid==$value['id']){ ?>active<?php } ?>"><a href="?cid=<?php echo $value['id'];?>"><?php echo $value['category_name'];?></a></li>
           <?php }?> 
        </ul>
        <?php }else{ ?>
        <ul class="header-nav">
                <li class="active"><a href="?a=index&c=index">首页</a></li>
                <li><a href="#">PHP基础</a></li>
                <li><a href="#">MySQL数据库</a></li>
                <li><a href="#">PDO类库</a></li>
            </ul>
            <?php } ?>
        <ul class="header-tools">
            <!-- 登录状态判断: -->
            <?php if(!isset($_SESSION['user'])){?>
            <li class="header-login"><a href="?a=login&c=user">登录</a></li>
            <li class="header-register"><a href="?a=register&c=user">注册</a></li>
            <?php }else{?>
            <li class="header-profile"><img src="public/images/head/<?php echo $_SESSION['user']['user_photo'];?>"
                    alt=""><a href="?a=changeSetting&c=user">常规设置</a></li>
            <li><a href="?a=changePassword&c=user">密码修改</a></li>
            <li class="header-logout"><a href="?a=logout&c=user">退出</a></li>
            <?php }?>
        </ul>
    </div>
</div>