<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<title>码农博客后台管理系统</title>
		<meta name="description" content="overview &amp; stats" >
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- page specific plugin styles -->
		<!-- text fonts -->
		<link rel="stylesheet" href="assets/css/fonts.googleapis.com.css">
		<!-- ace styles -->
		<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style">
		<link rel="stylesheet" href="assets/css/ace-skins.min.css">
		<link rel="stylesheet" href="assets/css/ace-rtl.min.css">
		<script src="assets/js/ace-extra.min.js"></script>
		<script src="ueditor/ueditor.config.js"></script>
		<script src="ueditor/ueditor.all.min.js"> </script>
		<script src="ueditor/lang/zh-cn/zh-cn.js"></script>
	</head>
	<body class="no-skin">
		<?php include 'app/admin/view/public/navbar.html';?>
		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>
			<?php include 'app/admin/view/public/sidebar.html';?>
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="?a=index&c=index">首页</a>
							</li>
							<li class="active">文章管理</li>
						</ul>
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>发表文章</h1>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<!-- 发表文章表单区域开始 -->
								<form action="?a=store&c=article" method="post" enctype="multipart/form-data">
									<table class="table  table-bordered">
										<tr>
											<td class="col-xs-2">文章标题</td>
											<td>
												<div class="col-xs-6">
													<input type="text" name="subject" class="form-control" placeholder="请输入文章标题">
												</div>
											</td>
										</tr>
										<tr>
											<td>标题图片</td>
											<td>
												<div class="col-xs-6">
													<input type="file" name="pic">
												</div>
											</td>
										</tr>
										<tr>
											<td class="col-xs-2">文章分类</td>
											<td>
												<!-- 存在分类时，显示的HTML代码段开始 -->
												<?php if($cates){ ?>
												<div class="col-xs-6">
													<select name="category_id" class="form-control">
														<?php foreach($cates as $value){ ?>
														<option value="<?php echo $value['id']; ?>"><?php echo $value['category_name']; ?></option>
														<?php } ?>
													</select>
												</div>
												<!-- 存在分类时，显示的HTML代码段结束 -->
												<?php }else{ ?>
												<!-- 不存在分类时，显示的HTML代码段开始 -->
												<div class="col-xs-6 line-height-34">
													<a href="?a=create&category">添加分类</a>
												</div>
												<!-- 不存在分类时，显示的HTML代码段结束 -->
												<?php } ?>
											</td>
										</tr>
										<tr>
											<td>文章正文</td>
											<td>
												<div class="col-xs-12">
													<script id="editor" type="text/plain" name="content" style="width:100%;height:350px;">
														<p>这里写你的初始化内容</p>
													</script>
													<script type="text/javascript">
													var ue = UE.getEditor('editor');
													</script>
												</div>
											</td>
										</tr>
										<tr>
											<td colspan="2">
												<button class="btn btn-primary" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												确认发表
												</button>
												<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												取消发表
												</button>
											</td>
										</tr>
									</table>
								</form>
								<!-- 发表文章表单区域结束 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- basic scripts -->
		<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>
		<!-- <![endif]-->
		<!--[if IE]>
		<script src="assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
		if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="assets/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		<script src="assets/js/jquery-ui.custom.min.js"></script>
		<script src="assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="assets/js/jquery.easypiechart.min.js"></script>
		<script src="assets/js/jquery.sparkline.index.min.js"></script>
		<script src="assets/js/jquery.flot.min.js"></script>
		<script src="assets/js/jquery.flot.pie.min.js"></script>
		<script src="assets/js/jquery.flot.resize.min.js"></script>
		<!-- ace scripts -->
		<script src="assets/js/ace-elements.min.js"></script>
		<script src="assets/js/ace.min.js"></script>
	</body>
</html>